* {
  font-family: "Roboto Light", sans-serif;
  padding: 0;
  margin: 0;
}

.table-date-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 20px;
}

.table-date {
  padding: 10px;
  background: #46b546;
  color: #f8f8f8;
  border-radius: 4px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}


.table-date td, .table-date th {
  text-align: center;
  gap: 50px;
  width: 25%;
}

.btns {
  padding: 20px;
  gap: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.action-btn {
  border: none;
  border-radius: 6px;
  cursor: pointer;
  background: linear-gradient(89.8deg, rgb(195, 67, 129) 11%, rgb(90, 43, 186) 83.4%);
  color: white;
  padding: 8px;
  font-weight: 600;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.6);
}

.action-btn:hover {
  background: linear-gradient(80.8deg, rgb(180, 57, 101) 9%, rgb(85, 36, 176) 73.4%);
  transition: 0.3s;
}


.table-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.table {
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  border-radius: 8px;
  border-collapse: collapse;
}

.table th, .table td {
  text-align: center;
  padding: 10px;
}

.table th {
  background: #f6f6f6;
}

.table td:not(:last-child) {
  border-right: 2px solid #f6f6f6;
}

.table tr:not(:last-child) {
  border-bottom: 1px solid #f6f6f6;
}

